h1 {

    color: white;
    font-size: 50px;
    font-style: italic;
    font-family: sans-serif;
    background-color: blue;
    margin: 0;
    display: inline-block;
    border:5px #004093;
    border-style: ridge;
    float:left;

}
#homePageButton {
    float: left;
    margin: .5%;
    background-color: #004093;
    border: 2px;
    height: 50px;
    width: 100px;

}
#spreadSheetButton {
    float: left;
    margin: .5%;
    background-color: #004093;
    border: 2px;
    height: 50px;
    width: 90px;
}
#ourStatsButton {
    float: left;
    margin: .5%;
    background-color: #004093;
    border: 2px;
    height: 50px;
    width: 90px;
}
#headerButton {
    float: left;
    margin: .5%;
    background-color: #004093;
    border: 2px;
    height: 50px;
    width: 50px;
}
#subPageTitle {
    float: left;
    margin: .5%;
    font-size: 50px;
    color: white;
    background-color: #0772f4;
}
#addTeamButton {
    margin: .5%;
    float: right;
    height: 50px;
    width: 50px;
    font-size: 40px;
    font-style: oblique;
    background-color: #0772f4;
    border: 2px #004093;
    color:white;
}
body {
    background-color: #707B7C;
}
#homeBar {
    width: 100%;
    margin:0px;
    border: 20px;
    border-color: #0772f4;
    height: 68px;
    background-color: #0772f4;
}
#teamSpreadSheet {
    width: 100%;
    height: 5%;
    
}
#teamStatisticsHeader {
    
    width: 100%;
    height: 70px;
}
#teampagestuff {
    display:none;
    border:solid;
    border-radius:5px;
    width:100%;
    height:500px;
}
#teamsPage {
    display: none;
    width: 99%;
    height: 100%;
    border:5px solid white;
    margin-top:1%;
}

