/*************************************
 *Author: Austin Leehealey
 *Date:12/7/2018
 *Description: The stylesheet for the objects of scoutingWebsite.html
 *Ongoing Problems:very unorganized but I quess still functional

 ***************************************/
#addTeamButton:hover{
    background:blue!important;
}
.yearButtons:hover{
    background:blue!important;
}
#addYear:hover{
    background-color:blue!important;
}
body {
    margin: 0px;
}
h1 {
    color: white;
    font-size: 50px;
    font-style: italic;
    background-color: darkblue;
    margin: 0;
    display: inline-block;
    border: 5px groove white;
    float: left;
}
.headerButtons {
    float: left;
    margin: .5%;
    background-color: #004093;
    border: 2px;
    height: 50px;
    width: 90px;
    color: white;
}

/*This are the styles for the overall formating of the pages*/

    .subPageTitle {
        float: left;
        margin: .5%;
        font-size: 50px;
        color: white;
    }

/*These are all the styles for the teamspage*/


        #teamsPage {
            display: none;
            width: 99%;
            height: 100%;
            border: 5px solid white;
            margin-top: 1%;
        }


        #teamStatisticsHeader {
            width: 100%;
            height: 70px;
        }

        #addTeamButton {
            margin: 1.76%;
    
            float: left;
            height: 40%;
            font-size: 30px;
            background-color: transparent;
            border:0px;
            color: white;
        }
        #teamSpreadSheet {
            width: 100%;
            height: 5%;
        }


        #teampagestuff {
            display: none;
            border: solid;
            border-radius: 5px;
            width: 100%;
            height: 500px;
        }

        #addTeamForm {
            color: black;
            font-size:20px;
            margin:0px;
        }
        .fieldsetI {
            height:90%;
            margin:0px;
        }

        .addTeamInputs {
            width:50%;
        }




/*This is all the styles for the search page*/
        #searchPage {
            display: none;
            width: 99%;
            height: 100%;
            border: 5px solid white;
            margin-top: 1%;
        }

        #searchPageHeader {
            width: 100%;
            height: 70px;
        }
        #searchBar {
            float: left;
            margin: 1.76%;
            font-size: 20px;
            color: white;
            width: 75%;
            background-color: lightblue;
            height:40%;
            border:1px solid white;
        }
        #userSearch {
            border: 0px;
            font-size: 20px;
            color: white;
            width: 100%;
            height: 100%;
            background-color: lightblue;
            float:right;
    
        }
        #searchError {
            color: red;
            font-size: 30px;
            width: 100%;
        }

        #teamButtons {
            color: white;
            font-size: 30px;
            width: 100%;
            height: 100%;
    
        }
        .checkBoxBar{
            width:100%;
            height:100%;
            color: white;
        }
        .label{
            width:25%;
            height:50%;
            font-size:25px
        }
        .checkbox{
            height:50%;
            width:5%;
            color:white;
            background-color:white;
            border:0px;
        }
        #teamButtonsTable {
            color: white;
            width: 100%;
            font-size: 30px;
        }

        #searchJson {
            display: none;
        }
        #userInput {
            display: none;
        }
        .teamButtons {
            color: white;
            font-size: 30px;
            width: 100%;
        }




/*These are all of the styles for the teamInfoPage */
        #teamInfoPage {
            display: none;
            width: 99%;
            height: 100%;
            border: 5px solid white;
            margin-top: 1%;
        }
        #IsubTitle {
            width: 100%;
            height: 70px;
            color: white;
            margin: 1px
        }
        #IteamNNY {
            text-align: center;
            margin: 1px;
        }


        .teamInfoButton{
            color:white;
            background-color:transparent;
            font-size:25px;
            border:1px dashed white;
        }



/*These are all the styles of the DEAD legendPage*/


        #legendPage {
            display: none;
            width: 99%;
            height: 100%;
            border: 5px solid white;
            margin-top: 1%;
        }
        #DsubTitle{
            width:100%;
        }
        #DlegendTable{
            width:100%;
            color: white;
            font-size:25px;
        }
